<template>
  <div class="container contactezNous">
    <div class="row">
      <div class="col-lg-6 col-sm-12 imageFond">
        <h1>Contactez-nous</h1>
      </div>
      <div class="col-lg-6 col-sm-12 formulaire">
      <h2>Votre message</h2><br>
        <div class="row formulaireUn">
          <h3>Vous êtes :</h3>               
            <div class="row premierRadio">
              <div class="col-lg-4">
                <label class="radio" for="one">Client
                <input type="radio" id="one" value="Un" v-model="picked">
                <span class="checkround"></span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="radio" for="two">Propriétaire
                <input type="radio" id="two" value="Deux" v-model="picked">
                <span class="checkround"></span>
                </label>
              </div>
              <br>
            </div>
            <div class="row deuxiemeRadio">
              <div class="col-lg-12">
                <label class="radio" for="three">Intéréssé par l'obtention de notre Label
                <input type="radio" id="three" value="Trois" v-model="picked">
                <span class="checkround"></span>
                </label>
              </div>
            </div>
        </div>
        <div class="row formulaireDeux">
          <div class="col-lg-4 col-sm-2">
            <form action="" method="POST">
              <label for="objet">Objet de votre demande :</label><br>
              <select name="selection" id="">
                <option value="uneReservation">Une réservation</option>
                <option value="leFonctionnement">Le fonctionnement générale</option>
                <option value="monCompte">Mon compte gite de France</option>
                <option value="RGPD">RGPD</option>
              </select>
            </form>
          </div>
        </div>
        <div class="formulaireTrois">
          <form action="" method="POST"> 
            <div class="row">
              <div class="col-lg-4 col-sm-2">
                <label for="contenu">Votre message :</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-2">
                <input class="message" type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-2">
            <button><i class="fas fa-arrow-circle-right fa-4x"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
export default {
  name: 'ContactezNous',
  data () {
    return {
          picked: []
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.contactezNous {
  font-family: RaleWayReg;
  border-left: 2px solid #ecf0f1; 
  border-right: 2px solid #ecf0f1;
}

.imageFond {
  background-image: url('../assets/img/contactez-nous.jpg');
  height: 650px;

}
h1 {
  text-align: center;
  color:white;
  margin-top: 200px;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-left: 55px;
}

.formulaire {
    color:  #3A485F;
    margin-top: 20px;
}

.formulaireUn {
  margin-left: 55px;
}
.vousetes {
  margin-left: 40px;
}

.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff ;
    border-color: #3A485F;
    border-style:solid;
    border-width:2px;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3A485F;
}

.premierRadio {
  margin-left: 20px;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
}

.deuxiemeRadio {
  margin-left: 121px;
}

.formulaireDeux {
  margin-left: 55px;
  margin-top: 20px;
  font-size: 20px;
}
.formulaireTrois {
  margin-left: 72px;
  margin-top: 20px;
  font-size: 20px;
}

select {
  border-radius: 40px;
  border-color: #3A485F;
  height: 50px;
  width: 300px;
  background-color: white;
}
select option {
  background: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.message {
  border-color: #3A485F;
  border-radius: 40px;
  height: 200px;
  width: 450px;
}
button {
  margin-top: 20px;
  margin-left: 400px;
  background: transparent;
  border: none !important;
  color: #c75f5f;
}

button :hover {
  color: #e74a47;
}

@media screen and (max-width: 768px) {
  .deuxiemeRadio {
    margin-left: 20px;
  }
  .formulaireDeux {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.formulaireTrois {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.message {
  border-color: #3A485F;
  border-radius: 40px;
  height: 200px;
  width: 300px;
}
button {
  margin-top: 20px;
  margin-left: 150px;
  background: transparent;
  border: none !important;
  color: #c75f5f;
}
}
</style>