<template>
  <div class="container">
    <div class="DerniereMinute">
      <div class="TitreDerniereMinute">
        <img class="reveille" src="../assets/img/alarm-clock.svg">
        <h1>Dernière minute</h1>
      </div>
      <div class="cartes">
        <div class="carte">
          <a href="#"><img src="../assets/img/neonbrand-381374-unsplash-min.jpg">
          <p>
            Location disponible du 16/02/2019 au 20/02/2019
          </p></a>
        </div>
        <div class="carte">
          <a href="#"><img src="../assets/img/vita-vilcina-3217-unsplash-min.jpg">
          <p>
            Location disponible du 16/02/2019 au 20/02/2019
          </p></a>
        </div>
        <div class="carte">
          <a href="#"><img src="../assets/img/carlo-trolese-162066-unsplash-min.jpg">
          <p>
            Location disponible du 16/02/2019 au 20/02/2019
          </p></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DerniereMinute',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/*mettre le footer en resposive LARGE*/
.container{
  margin-bottom: 40px;
}
.DerniereMinute{

 height: 400px;
 padding-top: 20px;
 font-family: RaleWay;
 font-weight: bold;
}
.TitreDerniereMinute{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.TitreDerniereMinute h1{
  font-size: 30px;
}
.reveille{
	width: 40px;
	height: 40px;
  margin-right: 10px;
}
.cartes{
  display: flex;
  justify-content: space-around;
}
.cartes img{
  width: 100%;
  height: 200px;
}
.carte{
  width: 30%;
  height: 15%;
  font-family: RaleWay;
  font-size: 2px;
  border: 1px solid  #ecf0f1 ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.carte a{
  text-decoration: none;
  color: #3a485f;
}
.carte p{
  font-size: 15px;
}


/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px)
{
  .container{
  margin-bottom: 20px;
}
.DerniereMinute{

 height: 200px;
 padding-top: 20px;
 font-family: RaleWay;
 font-weight: bold;
}
.TitreDerniereMinute{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.TitreDerniereMinute h1{
  font-size: 20px;
}
.reveille{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cartes{
  display: flex;
  justify-content: space-around;
}
.cartes img{
  width: 100%;
  height: 75px;
}
.carte{
  width: 30%;
  height: 15%;
  font-family: RaleWay;
  font-size: 2px;
  border: 1px solid  #ecf0f1 ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.carte a{
  text-decoration: none;
  color: #3a485f;
}
.carte p{
  font-size: 10px;
}
}
</style>
