<template>
	<div>
		<div class="container-flex">
			<div class="gauche">
				<div class="texte">
					<h1> Gîtes de france Lot </h1>
					<br>
					<p>
						 &nbsp;&nbsp;&nbsp; 05-33-09-27-37
					</p>
				</div>
				<img class="gitedefrance" src="../assets/img/Capture.jpg">
			</div>
			<div class="trais"></div>
			<div class="droite">
				<h2> Suivez nous sur les réseaux sociaux </h2>
				<a href="https://fr-fr.facebook.com/gitesdefrance.lot/"><img class="facebook" src="../assets/img/icons8-facebook-filled.svg" alt="facebook"></a>
				<a href="https://www.instagram.com/gitesdefrance/?hl=fr"><img class="instagram" src="../assets/img/instagram.svg" alt="facebook"></a>
			</div>
		</div>
		<div class="sous-titre">
			<router-link to="/QuiSommesNous">
				<p>Qui sommes nous</p>
			</router-link>
			<div class="separation"></div>
				<router-link to="/ContactezNous">
					<p>Contactez-nous</p>
				</router-link>
			<div class="separation"></div>
				<router-link to="/MentionLegales">
					<p>Mentions légales</p>
				</router-link>
			<div class="separation"></div>
				<router-link to="/ProtectionDesDonnees">
					<p>Protection des données</p>
				</router-link>
			<div class="separation"></div>
				<router-link to="/NosPartenaires">
					<p>Nos partenaires</p>
				</router-link>
			<div class="separation"></div>
				<router-link to="/DecouvrirLeLot">
					<p>Découvrir le lot</p>
				</router-link>
		</div>
	</div>
</template>



<script>
export default {
  name: 'Footer',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/*mettre le footer en resposive LARGE*/
.container-flex {
	background-color: #3A485F;
	width: 100%;
	height: 200px;
	display: flex;
	padding: 20px;
	justify-content: space-around;
}
.gauche{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.texte{
	width: 40%;
	color: white;
	font-family: RaleWay;
	margin-top: 40px;
	margin-left:30px;
}
.gitedefrance{
	margin-top: 20px;
	width: 300px;
	height: 120px;
}
.trais{
	width: 5px;
	height: 85%;
	background-color: white;
	
}
.droite{
	width: 40%;
	color: white;
	font-family: RaleWay;
	margin: 20px;
	text-align: center;
}
.facebook{*
	margin-top: 10px;
	width: 50px;
	height: 50px;
}
.instagram{
	margin-top: 7px;
	margin-left: 10px;
	width: 48px;
	height: 48px;
}
p{
	font-size: 20px;
}

h1{
	font-size: 25px;
}
h2{
	font-size: 25px;
}
.sous-titre{
	display: flex;
	justify-content: space-around;
	font-family: RaleWay;
	margin-top:30px;  
}
.sous-titre p{
	font-size: 15px;
	color: #3a485f;
}
a:hover{
	text-decoration: none;
}
.separation{
	width: 2px;
	height: 30px;
	background-color: #3a485f;
}

/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px) {
	.container-flex {
		background-color: #3a485f;
		width: 100%;
		height: 120px;
		display: flex;
		padding:5px;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.gauche{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.texte{
	width: 100%;
	color: white;
	font-family: RaleWay;
	margin-top: 0px;
	margin-left:0px;
	display: inline-flex;
	text-align: center;
	justify-content: space-around;
}
.gitedefrance{
	margin-top: 0px;
	width: 90px;
	height: 40px;
	margin-left: auto;
    margin-right: auto;
}
.trais{
	width: 100px;
	height: 1px;
	background-color: white;
	margin-left: 140px;
    margin-right: auto;

	
}
.droite{
	width: 100%;
	color: white;
	font-family: RaleWay;
	margin-top: 10px;
	text-align: center;
	
}
.facebook{
	width: 20px;
	height: 20px;
}
.instagram{
	margin-top: 0px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
}
p{
	font-size: 10px;
	margin: 0px;
}

h1{
	font-size: 12px;
	margin:0px;
}
h2{
	font-size: 12px;
	margin:0px;
}
	.sous-titre{
 		display: flex;
 		flex-wrap: wrap;
	}
	.sous-titre p{
    	font-size: 10px;
    	text-align: center;
  	}
  	.separation{
  		width: 1px;
  		height: 20px;
  	}
}

</style>
