<template>

	<div class="container">
		<h6>Mentions légales</h6>
		<h5>Editeur et responsable de la publication</h5>
		<p><strong>Gîtes de France Lot</strong><br>
			182 Quai Cavaignac<br>
			46000 CAHORS<br><br>
			<strong>Tél</strong> : 05 65 53 20 75<br>
			<strong>Fax</strong> : 05 65 53 20 79<br>
		</p>


		<h5>Avertissement, Politique de confidentialité et Autres</h5>
		<p>www.gites-de-france-lot.fr considère les informations personnelles, telles que vos noms, adresse postale, courrier électronique ou numéro de téléphone, comme des informations à caractère privé et confidentiel. Par conséquent, les informations personnelles que vous nous communiquez sont stockées en lieu sûr, ne sont accessibles que par un personnel désigné ou des mandataires autorisés, et sont exclusivement utilisées pour les besoins de certains services de ce site.</p>
		
		<h5>Divulgation</h5>
		<p>Parce que nous considérons les informations individuelles que nous détenons comme confidentielles, la politique est de ne divulguer aucune information personnelle recueillie en ligne à des tiers, sauf si cette divulgation est requise par la loi ou s'inscrit dans le cadre d'une enquête ou d'une procédure judiciaire ou administrative. www.gites-de-france-lot.fr ne vend, ne loue ni ne transmet aucune information personnelle à d'autres organisations.</p>
		
		<h5>Recueil des informations</h5>
		<p>Lorsque vous visitez le site Web www.gites-de-france-lot.fr, vous le faites de manière anonyme. Aucune information personnelle n'est recueillie. Toutefois, dans certaines parties de notre site Web, vous pouvez être invité à nous communiquer volontairement des informations personnelles telles que votre nom, votre adresse de courrier électronique, etc., aux fins de correspondance, d'enregistrement sur le site.</p>

		<h5>Utilisation des informations</h5>
		<p>Toutes les listes utilisées sont établies et gérées dans des conditions rigoureuses, destinées à garantir la sécurité et la confidentialité des informations personnelles. Vous pouvez à tout moment demander une copie de vos informations personnelles, et demander qu'elles soient corrigées ou retirées de notre base de données. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant (art. 34 de la loi « informatique et libertés » du 6 janvier 1978).</p>

		<h5>Droit d’auteur/Copyright</h5>
		<p>Les marques et logos figurant sur ce site sont des marques déposées par Gites de France Lot. Leur mention n'accorde en aucune manière une licence ou un droit d'utilisation quelconque des dites marques, qui ne peuvent donc être utilisées sans le consentement préalable et écrit du propriétaire de la marque sous peine de contrefaçon.
		L'ensemble des informations présentes sur ce site peut être téléchargé, reproduit, imprimé sous réserve de :<br>
		- n'utiliser de telles informations qu'à des fins personnelles et en aucune manière à des fins commerciales<br>
		- ne pas modifier de telles informations reproduire sur toutes copies la mention des droits d'auteur ('le copyright') de Gites de France Lot.
		Toute autre utilisation non expressément autorisée est strictement interdite sans autorisation préalable et écrite de  Gites de France Lot..</p>

		<h5>Crédits Photos</h5>
		<p>L Lot Tourisme, P. Soissons, J. Morel. </p>

		<h5>Conception et hébergement</h5>
		<p>ITEA<br>
		9bis boulevard Emile Romanet<br>
		44100 Nantes<br><br>
		<strong>Tél.</strong> : 02.40.16.16.16<br>
		<strong>Email </strong>: hotline@itea.fr </p>
		
		<h5>Conditions Générales d’Utilisation – Avis Clients</h5>
		<p>Ces Conditions Générales d’Utilisation portent sur les principes et règles de collecte, modération et restitution des avis clients en ligne. 
		Elles assurent la fiabilité des processus de collecte et définissent l'ensemble des principes et exigences mis en place par Gîtes de France, afin de traiter de manière transparente et loyale les avis clients. 
		Le traitement des avis comprend les étapes de leur collecte, leur modération et leur restitution. Il est certifié AFNOR NF Service, admission n°71931.1 du 23/06/16
		<a href="https://drive.google.com/file/d/1COJJdt6bNc4YM1p5LkVyS_WSxtRq4atQ/view">Consulter l'intégralité des Conditions Générales d’Utilisation – Avis Clients </a></p>

		<h5>Médiation des litiges de la consommation</h5>
		<p>Conformément aux dispositions du Code de la consommation concernant « le processus de médiation des litiges de la consommation », le client a le droit de recourir gratuitement au service de médiation proposé par le réseau Gîtes de France®. Le médiateur 'droit de la consommation' ainsi proposé est MEDICYS.
		Ce dispositif de médiation peut être joint par :<br>
		- voie électronique : <a href="https://www.medicys.fr/">www.medicys.fr </a>;<br>
		- ou par voie postale : MEDICYS - Centre de médiation et règlement amiable des huissiers de justice - 73, Boulevard de Clichy, 75009 - Paris »</p>
	</div>
</template>

<script>
export default {
  name: 'MentionLegales',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 25px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 20px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	font-size: 15px;
	color: #3a485f;
	text-align: justify;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}
/*mettre resposive SMALL*/
@media screen and (max-width: 768px) {
.container{
	font-family: RaleWay;
	padding: 25px;
}
.container h6{
	font-size: 17px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 15px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
}

.container p{
	font-size: 12px;
	color: #3a485f;
	text-align: justify;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}
}
</style>