<template>
</template>

<script>
export default {
  name: 'MonCompte',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
