<template>
 <nav>
   <div class="nav-top">
     <div class="logo-container">
       <router-link to="/Home">
       <a href="" class="logoBlock">
         <img src="../assets/logo-nav.png" alt="" class="logogitedefrance">
      </a>
       </router-link>
      <p>Pour réserver:<a href="tel:05 33 09 27 37">05 33 09 27 37</a>
      Lundi au vendredi : 8h30-18h30</p>
     </div>
     <div class="logoTexte-container">
        <router-link to="/Home">
         <img src="../assets/img/Capture du 2019-02-21 13-41-40.png" alt="" class="logoTexteNav">
        </router-link>
     </div>
     <div class="icons-container">
       <div class="icons">
         <router-link to="/MaSelection">
          <img src="../assets/favoris.svg" alt="">
          <p>Ma Sélection</p>
        </router-link>
        <router-link to="/MonCompte">   
           <img src="../assets/moncompte.svg" alt="">
           <p>Mon Compte</p>
        </router-link>
        <router-link to="/ContactezNous"> 
           <img src="../assets/contact.svg" alt="">
           <p>Contact</p>
        </router-link>
       </div>
       <div>
        <router-link to="/ObtenirLeLabel">
          <img src="../assets/label.jpg" alt="">
        </router-link>
           
          <p>Obtenir le Label</p>
       </div>
     </div>
    </div>
    <div class="sous-nav">
      <div></div>
      <ul>
        <a href="#">
          <li>Locations et gîtes</li>
        </a>
        <a href="#">
          <li>Chambres d'hôtes</li>
        </a>
        <a href="#">
          <li>Avec activité</li>
        </a>
        <a href="#">
          <li>Séjour tout compris</li>
        </a>
        <a href="#">
          <li>Prestique</li>
        </a>
        <a href="#">
          <li>Insolite</li>
        </a>
        <a href="#">
          <li>Structure à thèmes</li>
        </a>
      </ul>
      <div class="drapeaux-container">
        <img src="../assets/logo-france.png" alt="">
        <span>FR</span>
      </div>
    </div>

 </nav>
</template>

<script>
export default {
  name: 'Nav',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
a:hover{
  text-decoration: none;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   font-family: RaleWay;
}
nav>div:first-of-type{
  justify-content: space-around;
}
nav>div:first-of-type>div {
    flex: 1;
    justify-content: center;
text-align: center;
}
nav>div:last-of-type{
  justify-content: space-around;
  background-color: #3A485F;
  color: white;
  padding: 5px;
  position: relative;
}
nav>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  display: block;
}
nav img{
  width: 100%;
}
.logo-container p{
     font-family: RaleWay;
     font-size: 12px;
     font-weight: bold;
     color: #3a485f;
     text-align: center;
     margin: 0px;
     margin-top: 5px;
     margin-left: 71px;
}
.logogitedefrance{
  width:100px;
  position: absolute;
  left: 0px;
  top: -10px;
  z-index: 2;
}
.logoBlock{
  position: relative;
}
.logoTexteNav{
  width: 400px;
}
.logo-container{
  width: 75px;
  display: flex;
}
.logoTexte-container{
  text-align: center;
}
.logoTexte-container h6{
  color: #156543;
}
.logoTexte-container{
  width: 220px;
}
.icons-container{
  display: flex;
}
.icons-container>div:first-of-type p{
  font-size: 10px;
  visibility: hidden;;
  transition: 250ms;
  opacity: 0;
  color: #3A485F;
    font-weight: bold;
}
.icons-container>div:first-of-type a:hover>p{
  visibility: visible;
  opacity: 1;
}
.icons-container>div:last-of-type p{
  font-size: 12px;
  color: #F45D5C;
    font-weight: bold;
}
.icons-container>div:first-of-type img{
  width: 35px;
  display: block;
  margin: auto;
}
.drapeaux-container{
  position: absolute;
    right: 15px;
}
.drapeaux-container img{
  width: 20px;
}
.drapeaux-container span{
  font-size: 12px;
}
.icons-container>div:first-of-type{
  display: flex;
  align-items: right;
}
.icons-container>div:last-of-type img{
  width: 80px;
}
.icons-container>div:first-of-type a{
  margin: 0;
}
nav li{
  display: inline-block;
  margin: 0 15px;
}
nav ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: auto;
}
nav ul a {
  color: white;
}
nav a:hover li{
  color: #FFDF2F;
  transition: 600ms;
}
.nav-top {
  background-color: white;
}

@media screen and (max-width: 768px)
{
  a:hover{
  text-decoration: none;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   font-family: RaleWay;
}
nav>div:first-of-type{
  justify-content: space-around;
}
nav>div:first-of-type>div {
    flex: 1;
    justify-content: center;
text-align: center;
}
nav>div:last-of-type{
  justify-content: space-around;
  background-color: #3A485F;
  color: white;
  padding: 5px;
  position: relative;
}
nav>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  display: block;
}
nav img{
  width: 100%;
}
.logo-container p{
     font-family: RaleWay;
     font-size: 10px;
     font-weight: bold;
     color: #3a485f;
     text-align: center;
     margin: 0px;
     margin-top: 50px;
     margin-left: 142px;
}
.logogitedefrance{
  width: 20px;
  position: absolute;
  left: 0px;
  top: -30px;
  z-index: 2;
}
.logoBlock{
  position: relative;
}
.logoTexteNav{
  width: 137px;
}
.logo-container{
  width: 75px;
}
.logoTexte-container{
  text-align: center;
}
.logoTexte-container h6{
  color: #156543;
  font-size: 12px;
}
.logoTexte-container{
  width: 220px;
}
.icons{
   justify-content: space-between;
}
.icons-container{
  display: flex;
  justify-content: space-between;
}
.icons-container>div:first-of-type p{
  font-size: 10px;
  visibility: hidden;;
  transition: 250ms;
  opacity: 0;
  color: #3A485F;
    font-weight: bold;
}
.icons-container>div:first-of-type a:hover>p{
  visibility: visible;
  opacity: 1;
}
.icons-container>div:last-of-type p{
  font-size: 12px;
  color: #F45D5C;
    font-weight: bold;
}
.icons-container>div:first-of-type img{
  width: 25px;
  display: block;
  margin: 0px;
}
.drapeaux-container{
  position: absolute;
    right: 15px;
}
.drapeaux-container img{
  width: 20px;
}
.drapeaux-container span{
  font-size: 12px;
}
.icons-container>div:first-of-type{
  display: flex;
  align-items: center;
}
.icons-container>div:last-of-type img{
  width: 70px;
}
.icons-container>div:first-of-type a{
  margin: 0;
}
nav li{
  display: inline-block;
  margin: 10px;
  font-size: 15px;
}
nav ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: auto;
}
nav ul a {
  color: white;
}
nav a:hover li{
  color: #FFDF2F;
  transition: 600ms;
}
.nav-top {
  background-color: white;
}
}
</style>
