<template>
  <div class="container">
    <div class="Newsletter">
      <div class="TitreNewsletter">
        <h10> Abonnez-vous à notre Newsletter</h10>
        <p> Inspirations - Bon Plans - Avant Première </p>
      </div>
      <div class="Email">
        <input type="email" name="email" >
        <button><img src="../assets/img/checked.svg"></button> 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DerniereMinute',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/*mettre le footer en resposive LARGE*/
.container{
  margin-top: 20px;
}
.Newsletter{
  width: 100%;
  height: 200px;
  padding: 0px;
  background:linear-gradient(left, #f37c78, #e9ba4d);
  margin-bottom: 20px;
}
.TitreNewsletter{
  font-family: RaleWay;
  color: #3a485f;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.TitreNewsletter p{
  font-size: 18px;
}
.Email{
  width: 500px;
  height: 70px;
  background-color: white;
  margin-left: 300px;
  border-radius:40px;
  border: 3px solid #f37c78;
  display: inline-flex;
}
.Email input{
  background-color: none;
  border: none;
  width: 400px;
  height: 64px;
  margin-left: 32px;
  font-size: 20px;
}
.Email img{
  width: 40px;
  height: 40px;
}
.Email button{
  width: 60px;
  background-color:#f45d5c;
  border: none;
  border-radius: 100px;
  height: 90%;
  margin: 2px;
}
/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px)
{
  .container{
  margin-bottom: 20px;
  margin-top: 10px;
}

.Newsletter{
  width: 100%;
  height: 100px;
  padding: 0px;
  background:linear-gradient(left, #f37c78, #e9ba4d);
}
.TitreNewsletter{
  font-family: RaleWay;
  color: #3a485f;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.TitreNewsletter p{
  font-size: 10px;
}
.Email{
  width: 250px;
  height: 35px;
  background-color: white;
  margin-left: 30px;
  border-radius:40px;
  border: 3px solid #f37c78;
  display: inline-flex;
}
.Email input{
  background-color: none;
  border: none;
  width: 194px;
  height: 25px;
  margin-left: 16px;
  font-size: 12px;
}
.Email img{
  width: 20px;
  height: 20px;
}
.Email button{
  width: 29px;
  background-color:#f45d5c;
  border: none;
  border-radius: 100px;
  height: 90%;
  margin: 2px;
  padding: 0px;
}
}
</style>
