<template>
	<div class="container">
		<h5>
			 Nouvelle Location 
		</h5>
		<div class="Contenant">
			<div class="Maps">
				<img src="../assets/img/Lot-Position.svg.png" class="CarteFrance">
				<img src="../assets/img/villes.gif" class="CarteLOT">
			</div>
			<div class="TroisNouvelleLocation">
				<a href="#"><div class="NouvelleLocation">
					<img src="../assets/img/brina-blum-275958-unsplash-min.jpg">
					<div class="TextNouvelleLocation">
						<h6>Les Clos de Nouzies</h6>
						<p class="ville">Lacapelle-Auzac</p>
						<div class="Classement">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<div class="separation"></div>
							<img src="../assets/img/icons8-utilisateur-sexe-neutre-filled-500.png">
							<div class="NombrePersonne">5</div>
							<div class="separation"></div>
							<img src="../assets/img/icons8-lit-filled-500.png">
							<div class="NombreLit">3</div>
							<div class="separation"></div>
							<img src="../assets/img/no-pets.png" class="NoPet">
							<div class="Blanc"></div>
						</div>

						<div class="Tarif">
							<p class="Prix">A partir de<br> <strong>250€</strong>/par semaines </p>
						</div>
					</div>
					
				</div>
				</a>
				<a href="#"><div class="NouvelleLocation">
						<img src="../assets/img/ritchie-valens-100183-unsplash-min.jpg">
					<div class="TextNouvelleLocation">
						<h6>Les Orchidées Sauvages </h6>
						<p class="ville">Dégagnac</p>
						<div class="Classement">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<div class="separation"></div>
							<img src="../assets/img/icons8-utilisateur-sexe-neutre-filled-500.png">
							<div class="NombrePersonne">8</div>
							<div class="separation"></div>
							<img src="../assets/img/icons8-lit-filled-500.png">
							<div class="NombreLit">4</div>
							<div class="separation"></div>
							<img src="../assets/img/no-pets.png" class="NoPet">
						</div>
						<div class="Tarif">
							<p class="Prix">A partir de<br> <strong>250€</strong>/par semaines </p>
						</div>
					</div>
				</div>
				</a>
				<a href="#"><div class="NouvelleLocation">
						<img src="../assets/img/jesse-roberts-146556-unsplash-min.jpg">
					<div class="TextNouvelleLocation">
						<h6>Le Cadre Doré </h6>
						<p class="ville"> Rocamadour </p>
						<div class="Classement">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<img src="../assets/img/Capture du 2019-02-18 10-43-35.png">
							<div class="separation"></div>
							<img src="../assets/img/icons8-utilisateur-sexe-neutre-filled-500.png">
							<div class="NombrePersonne">2</div>
							<div class="separation"></div>
							<img src="../assets/img/icons8-lit-filled-500.png">
							<div class="NombreLit">1</div>
							<div class="separation"></div>
							<img src="../assets/img/no-pets.png" class="NoPet">
						</div>
						<div class="Tarif">
							<p class="Prix">A partir de<br> <strong>250€</strong>/par semaines </p>
						</div>
					</div>
				</div>
			</a>
			</div>
		</div>
	</div>
</template>



<script>
export default {
  name: 'NouvelleLocation',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.container{ 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 10px;
	padding-bottom: 10px;
}

.container h5{
	text-align:center;
	color: #3a485f;
	font-family: RaleWay;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
.Contenant{
	display:flex;
}
.Maps{
	display:flex;
	width: 40%;
	padding-top: 100px;
}
.CarteFrance{
	width: 70px;
	height: 80px;
}
.CarteLOT{
	height: 300px;
	width: 70%;
}
.TroisNouvelleLocation{
	display: flex;
	flex-direction: column;
	width: 50%;
}
.NouvelleLocation{
	width: 100%;
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
	display: inline-flex;
}
a{
	text-decoration: none;
	color: #3a485f;
	font-size: 12px;
	font-weight: bold;
}
.NouvelleLocation img{
	width: 30%;
	height: 90%;
	margin: 7px;
}
.NouvelleLocation h6{
	color: #156543;
	font-weight: bold;
	font-family: RaleWay;
	font-size: 17px;
	margin-bottom:0px;
}
.Ville{
	font-family: RaleWay;
	color: #3a485f;
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 0px;
}

.TextNouvelleLocation{
	margin: 10px;
}
.TextNouvelleLocation img{
	width: 17px;
	height: 17px;
	margin-top: 0px;
	margin-right: 1px;
}
.Classement{
	display: inline-flex;
}
.Classement .separation{
	margin-left: 10px;
	height: 20px;
	width: 1px;
}
.NombrePersonne{
	background-color: #7aa62e;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	margin-left: 3px;
	font-size: 13px;
	color: white;
}
.NombreLit{
	background-color: #3a485f;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	margin-left: 5px;
	font-size: 13px;
	color: white;
}
.Blanc{
	width: 20px;
	height: 20px;
	background-color: white;
}
.Tarif{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-left: 70%;
	margin-bottom: 10px;
}
.Prix {
	font-size: 15px;
}
.Prix strong{
	color: #7aa62e;
	font-size: 22px;
}
/*mettre le footer en resposive SMALL*/
@media screen and (max-width: 768px) {
.container{ 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 10px;
	padding-bottom: 5px;
}
.container h5{
	text-align:center;
	color: #3a485f;
	font-family: RaleWay;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.Contenant{
	display:flex;
	flex-wrap: wrap;
}
.Maps{
	display:flex;
	width: 100%;
	padding-top: 10px;
	
	margin: 20px;
}
.CarteFrance{
	width: 55px;
	height: 50px;
	margin-left: 30px;
}
.CarteLOT{
	height: 200px;
	width: 60%;
}
.TroisNouvelleLocation{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 10px;
}
a{
	text-decoration: none;
	color: #3a485f;
	font-size: 12px;
	font-weight: bold;
}
.NouvelleLocation{
	width: 110%;
	height: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
	display: inline-flex;
}
.NouvelleLocation img{
	width: 25%;
	height: 90%;
	margin: 3px;
}
.NouvelleLocation h6{
	color: #156543;
	font-weight: bold;
	font-family: RaleWay;
	font-size: 12px;
	margin-bottom:0px;
}
.Ville{
	font-family: RaleWay;
	color: #3a485f;
	font-size: 10px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 0px;
}
.TextNouvelleLocation{
	margin: 10px;
}
.TextNouvelleLocation img{
	width: 13px;
	height: 13px;
	margin-top: 0px;
	margin-right: 1px;
}
.Classement{
	display: inline-flex;
}
.Classement .separation{
	margin-left: 10px;
	height: 20px;
	width: 1px;
}
.NombrePersonne{
	background-color: #7aa62e;
	width: 13px;
	height: 13px;
	border-radius: 5px;
	text-align: center;
	margin-left: 3px;
	font-size: 10px;
	color: white;
}
.NombreLit{
	background-color: #3a485f;
	width: 13px;
	height: 13px;
	border-radius: 5px;
	text-align: center;
	margin-left: 5px;
	font-size: 10px;
	color: white;
}
.Blanc{
	width: 20px;
	height: 20px;
	background-color: white;
}
.Tarif{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-left: 50%;
	margin-bottom: 10px;
}
.Prix {
	font-size: 10px;
}
.Prix strong{
	color: #7aa62e;
	font-size: 15px;
}
}
</style>
