<template>

  <div class="container obtenirLeLabel">
    <div class="row">
      <div class="col-xl-12 presentationUn">
        <h1>Le Label Gîte de France</h1>
        <h2>Pourquoi rejoindre le label Gîtes de France ?</h2>
        <p>Riche de 60 ans d'expérience sur le terrain et de sa connaissance du marché, Gîtes de France vous accompagne dans votre réussite ! Nous vous accompagnons à tous les niveaux :
        Juridique, fiscal, comptable,
        Aménagement, travaux
        Commercialisation et promotion</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 presentationDeux">
        <h3>Pourquoi choisir Gîtes de France ?</h3>
        <p>Gîtes de France est le 1er réseau mondial de tourisme chez l'habitant, 4ème marque française citée dans les enquêtes de notoriété des entreprises de tourisme, Conseils et accompagnement personnalisé apportés aux adhérents, Politique dynamique en terme de promotion et de commercialisation, Commercialisation sur-mesure en fonction de vos envies et besoins.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 lesServices">
        <h4>Les services proposés</h4>
        <p>Que peut m'apporter Gîtes de France ?<br/>
        <br/>
        ACCOMPAGNEMENT :<br>
        Conseil / expertise :
        <ul>
          <li>Technique</li>
          <li>Réglementaire</li>
          <li>Les chargées de développement sont là pour vous accompagner, vous aider, à construire votre stratégie commerciale, à positionner votre offre.</li>
        </ul>
        <br/>
        PROMOTION / COMMUNICATION :<br>
          <ul>
            <li>Départementale, Nationale, Droit d’usage de la marque</li>
            <li>Communication sur les réseaux sociaux, dans la presse, sur les salons et divers évènements.</li>
            <li>Gîtes de France, c'est 14 millions de visiteurs uniques sur le site Gîtes de France.</li>
          </ul>

        COMMERCIALISATION :<br>

        Choix dans la formule de commercialisation :<br>
        <ul>
          <li>Gestion exclusive : la centrale de réservation s'occupe de tout pour vous, toute la partie administrative (gestion des appels, mails, envoi des contrats, paiements, versment...) vous n'avez plus qu'à vous occupez du client une fois qu'il arrive dans votre hébergement.</li>
          <li>Gestion partagée : prend aussi en charge toutes les démarches administratives.</li>
          <li>Service en ligne, 7 jours/7, partenariat Comité d'Entreprise (CE), dernière minute, clientèle étrangère, 2,5 semaines en plus en moyenne.</li>
          <li>AVIS certifiés AFNOR</li>
          <li>Un espace propriétaire en ligne dédié</li>
        </ul>
        SERVICES :<br>
        <ul>
          <li>Formations</li>
        </ul>
        ÉQUIPE / PROXIMITE :<br>
        <ul>
            <li>conseil individuel</li>
            <li>ASSISTANCE réglementaire, technique permanente</li>
            <li>Partenaires</li>
        </ul>
        </p>
      </div>
    </div>
    <div class="row">
       <div class="col-12 video">
         <h5>Votre Projet en Image</h5>
         <iframe src="https://www.youtube.com/embed/YMqgouiYQlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
         </iframe>
       </div>
    </div>
     <div class="row">
      <div class="col-12 contact">
        <router-link to="/ContactezNous">
         <button type="button" class="btn btn-secondary btn-lg">CONTACTEZ NOUS</button>
				</router-link>
       </div>
       <div class="row"></div>
       <LimmobilierByGiteDeFrance/>
    </div>   
  </div>

</template>

<script>
import LimmobilierByGiteDeFrance from './LimmobilierByGiteDeFrance'

export default {
  name: 'ObtenirLeLabel',
  components: {
    LimmobilierByGiteDeFrance,
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.obtenirLeLabel{
	font-family: RaleWay;
	padding: 50px;
  text-align: justify;
}
.obtenirLeLabel h5, h2, h3, h4 {
	font-size: 25px;
	color:#156943;
	font-weight: bold;
  margin-left: 20px;
}
.obtenirLeLabel h1 {
	font-size: 20px;
  color: #3a485f;
	font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.obtenirLeLabel p, ul, strong{
	font-size: 15px;
	color: #3a485f;
}

.contact {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 400px;
}

button {
  background-color: #c75f5f;
}

@media screen and (max-width: 768px) {
  .video {
  height: 400px;
  }
  .contact {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
}

</style>
