<template>
<div class="container">
  <h6>Vie privée</h6>
  <p>Certaines informations recueillies via le site www.gites-de-france-lot.fr font l'objet d'un traitement informatique destiné à la gestion des fichiers de clients et prospects dans le cadre de la gestion des contrats de réservation.<br><br>

  Le destinataire des données est Reservation Gîtes de France Lot. Conformément à la loi Informatique et Libertés du 06 Janvier 1978, vous disposez à tout moment d'un droit d'accès, de rectification et de suppression des données personnelles vous concernant.<br><br>

  Si vous souhaitez exercer ce droit, il vous suffit soit de nous écrire, soit d'en faire la demande via notre e-mail reservation@gites-de-france-lot.fr.<br><br>

  Les données saisies sur les formulaires présents sur le présent site demeurent confidentielles à Reservation Gîtes de France Lot. Conformément à la loi précitée, les informations collectées ne seront pas conservées au-delà de la durée nécessaire aux finalités pour lesquelles elles sont conservées ou traitées.</p>

<div class="BasDePage">
  <div class="formulaires">
     <h5>
  Nos contacter
</h5>
    <form action="mailto:accueil@gites-de-france-lot.fr?subject=Fomulaire Mon javascript" name="envoi" method=POST enctype="text/plain">
      <table border="0">
        <tr>
          <td>
            <label>Nom* : </label>
            <input type="text" name="Nom" size=50 maxlength=50>
            <br>
            <label>Prénom* : </label>
            <input type="text" name="Prenom" size=50 maxlength=50>
            <br>
            <label>Mail* : </label>
            <input type="Mail" size=50 maxlength=50>
            <br>
            <label>Votre Message* :</label>
            <textarea name="Message" cols="60" rows="5" class="Message"></textarea>
          </td>
        </tr>
      </table>
      <br>
      <div class="boutons">
        <input type="submit" value="Envoyer" class="Envoyer">
        <input type="reset" value="Effacer" class="Effacer">
      </div>
    </form>
  
</div>
  <div class="photo">
    <img src="../assets/img/fabrizio-conti-977336-unsplash.jpg" class="montain">
  </div>
</div>
</div>



</template>

<script>
export default {
  name: 'ProtectionDesDonnees',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  font-family: RaleWay;
  padding: 50px;
}
.container h6{
  font-size: 25px;
  color: #3a485f;
  text-align: center;
  font-weight: bold;
}
.container h5{
  font-size: 20px;
  color: #156943;
  font-weight: bold;
  margin-left: 20px;
}
.container p, label{
  font-size: 15px;
  color: #3a485f;
}
input{
  border-color: #3A485F;
  border-radius: 40px;
  width: 100%;
  padding-left: 10px;
}
.Message {
  border-color: #3A485F;
  border-radius: 40px;
  height: 200px;
  width: 450px;
  padding: 15px;
  font-family: RaleWay;
  color: #3a485f;
  font-size: 15px;
}
.boutons{
  display: flex;
  width: 40%;
  margin-left:50px;
  font-family: RaleWay;
  color: #3a485f;
  font-size: 15px;
}
.Envoyer, .Effacer{
  background-color: #f65d5c;
  border: none;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  margin-left: 50px;
}
.BasDePage{
  display: flex;
}
.formulaires{
  width: 50%;
  margin-top: 50px;
}
.photo{
  width: 50%;
}
.montain{
  width: 100%;
  height: 80%;
}
/*mettre resposive SMALL*/
@media screen and (max-width: 768px) {
.container{
  font-family: RaleWay;
  padding: 25px;
}
.container h6{
  font-size: 17px;
  color: #3a485f;
  text-align: center;
  font-weight: bold;
}
.container h5{
  font-size: 15px;
  color: #156943;
  font-weight: bold;
  margin-left: 20px;
}
.container p, label{
  font-size: 12px;
  color: #3a485f;
}
input{
  border-color: #3A485F;
  border-radius: 40px;
  width: 90%;
  padding-left: 20px;
}
.Message {
  border-color: #3A485F;
  border-radius: 40px;
  height: 200px;
  width: 90%;
  padding: 15px;
  font-family: RaleWay;
  color: #3a485f;
  font-size: 15px;
}
.boutons{
  display: flex;
  width: 40%;
  margin-left:50px;
  font-family: RaleWay;
  color: #3a485f;
  font-size: 12px;
  height: 200px;
  margin-bottom: 10px;
}
.Envoyer, .Effacer{
  background-color: #f65d5c;
  border: none;
  border-radius: 40px;
  text-align: left;
  width: 100px;
  height: 25px;
  margin-left: 50px;
  margin-top: -7px;
}
.BasDePage{
  display: flex;
}
.formulaires{
  width: 90%;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
  padding-left:20px;
}
.photo{
  width: 100%;
}
.montain{
  width: 100%;
  height: 87%;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  border-radius: 20px;
  opacity: 0.3;
}
}
</style>