<template>
<div class="container">

<h6>Qui sommes nous ?</h6>
<h5>Le label Gîtes de France</h5>
<p>Le label Gîtes de France s’est développé au fil des années pour devenir le 1er réseau en Europe d’hébergement chez l’habitant, et a fêté ses cinquante ans en 2005.

Notre raison d’être :</p>

<ul>
	<li><strong>favoriser les séjours touristiques dans les meilleures conditions d’accueil et de confort,</strong>
    <li><strong>satisfaire</strong> aux exigences et aux besoins d'un tourisme d'authenticité, de convivialité, de nature, de calme, de découverte et d'espace,</li>
    <li><strong>contribuer à la valorisation et à la conservation du patrimoine et de l'environnement</strong>, principalement en milieu rural,</li>
    <li><strong>participer au développement local</strong> et contribuer à fixer les populations rurales par l'apport de ressources complémentaires.</li>
</ul>

<p><strong>Un séjour Gîtes de France</strong>, c’est à la fois la découverte et le ressourcement, auprès de 43 000 hommes et femmes qui vous ouvrent leurs maisons, toutes uniques, toutes différentes.

Autant de valeurs qui font des Gîtes de France un pionnier du développement durable pour le tourisme rural.</p><br>

<h5>Les Gîtes de France en chiffres</h5>
<strong>En France, une équipe de plus de 600 personnes est au service des propriétaires et des clients au travers de la Fédération Nationale et de ses 95 relais départementaux.</strong>

<p>A l'étranger, les Gîtes de France sont présents depuis près de 20 ans sur les principaux marchés européens, en collaboration avec de nombreux tour-opérateurs.</p>
<ul >
    <li>43 000 propriétaires, 56 000 hébergements, 35 millions de journées de vacances, pour un chiffre d'affaires direct de plus de 450 millions d'euros et un apport à l'économie des régions de 750 millions d'euros dont un tiers en devises (20% de clients étrangers). C'est aussi 230 millions d'euros investis en rénovation du patrimoine bâti.
    </li>
    <li>43 800 gîtes ruraux, 2 500 créations par an, pour un coût moyen d'investissement de 58 400 euros, durée moyenne de location : 16 semaines par an ; taux d'occupation moyen sur l'année (rapport nombre de semaines louées/période d'ouverture) : 43,4 %, prix moyen par semaine : 408 euros en haute saison, 267 euros en hors saison, et 163 euros par week-end</li>
    <li>10 000 maisons d'hôtes, 500 nouvelles adresses par an (soit 1 500 chambres), pour un coût moyen d'investissement de 42 000 euros, durée moyenne de location : 16 semaines par an et 3 nuits par séjour, prix moyen : 49 euros la nuit pour deux personnes, petit déjeuner inclus, et 17 € le repas en table d’hôtes. </li>
 </ul>

<h5>Qui sommes nous dans le LOT ?</h5>

<ul>
	<li>L’Association Départementale du Tourisme Rural du Lot -ADTRL-  est une association née en 1973, pour animer un réseau d’accueil touristique dans le Lot.</li>
    <li>Elle fédère plus de 850 propriétaires qui se proposent d’ouvrir leur hébergement ou leur ferme pour vous accueillir dans un milieu préservé, le temps des vacances ou d’un moment de détente.</li>
    <li>Les décisions prises en Conseil d’Administration sont mises en œuvre par une équipe de 4 techniciens.</li>
    <li>Pour garantir la qualité des séjours proposés, l’ADTRL a délégation, pour le département du Lot, de deux labels nationaux : Gîtes de France® et Bienvenue à la Ferme®.</li>
</ul>

<h5>Nos missions</h5>

<ul>
	<li>Nous accompagnons les propriétaires qui ont un projet de création d’hébergement touristique, de l’origine du projet à sa labellisation.</li>
    <li>Nous accompagnons nos adhérents dans la gestion, la promotion et la mise en marché de leur structure d’accueil.</li>
    <li>Nous garantissons aux vacanciers un accueil qualitatif, selon les chartes Gîtes de France® et Bienvenue à la Ferme®, un séjour ou qualité de l’accueil et convivialité sont des valeurs centrales.</li>
</ul>

<h5>Nos services</h5>
<p>Pour les propriétaires :</p>

<ul>
	<li>Accompagner votre projet de création d’une structure d’accueil. </li>
    <li>Assurer le suivi qualité de votre hébergement et le classer selon le référentiel Gîtes de France®</li>
    <li>Développer les thématiques: Gîtes et Chambres de Charme, Tourisme et handicap, Bien être, séjours en vignoble, séjours à la ferme, Gîtes de Pêche, gîtes au Jardin....</li>
    <li>Vous accompagner dans la gestion de votre hébergement</li>
</ul>

<p>- lors de sa mise en marché notamment sur Internet,<br>
- dans la gestion de vos réservations 

Pour les vacanciers :</p>

<ul>
    <li>Une offre mise à jour régulièrement et contrôlée. </li>
    <li>Réserver votre séjour sur internet ou par téléphone en contactant le service de réservation ou directement auprès du propriétaire. </li>
</ul>


<p>Gîtes de France Lot 182, Quai Cavaignac, 2ème Etage<br>
46000 CAHORS<br><br>

Tél : 05 65 53 20 75<br>
E-mail : <a href="mailto:accueil@gites-de-france-lot.fr">accueil@gites-de-france-lot.fr</a></p>
</div>
</template>

<script>
export default {
  name: 'QuiSommesNous',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
	font-family: RaleWay;
	padding: 50px;
}
.container h6{
	font-size: 25px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 20px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p{
	text-align: justify;
}

.container p, ul, strong{
	font-size: 15px;
	color: #3a485f;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}
/*mettre resposive SMALL*/
@media screen and (max-width: 768px) {
.container{
	font-family: RaleWay;
	padding: 25px;
}
.container h6{
	font-size: 17px;
	color: #3a485f;
	text-align: center;
	font-weight: bold;
}
.container h5{
	font-size: 15px;
	color: #156943;
	font-weight: bold;
	margin-left: 20px;
}

.container p, ul, strong{
	font-size: 12px;
	color: #3a485f;
}

.container a{
	color: #F45D5C;
	text-decoration: underline;
}
}
</style>
