<template>
  <div id="app">
      <Nav/>
      <div class="container" id="container">
      <router-view></router-view>
    </div>
      <Footer/>
  </div>
</template>

<script>
import Header from './components/Header'
import Nav from './components/Nav'
import DerniereMinute from './components/DerniereMinute'
import LocationDeVacance from './components/LocationDeVacance'
import SuivezLeGuide from './components/SuivezLeGuide'
import NouvelleLocation from './components/NouvelleLocation'
import LimmobilierByGiteDeFrance from './components/LimmobilierByGiteDeFrance'
import Footer from './components/Footer'
import ObtenirLeLabel from './components/ObtenirLeLabel'
import MaSelection from './components/MaSelection'
import MonCompte from './components/MonCompte'
import QuiSommesNous from './components/QuiSommesNous'
import ContactezNous from './components/ContactezNous'
import MentionLegales from './components/MentionLegales'
import ProtectionDesDonnees from './components/ProtectionDesDonnees'
import NosPartenaires from './components/NosPartenaires'
import DecouvrirLeLot from './components/DecouvrirLeLot'
import Newsletters from './components/Newsletters'

export default {
  name: 'App',
  components: {
    Nav, Header, DerniereMinute, LocationDeVacance, SuivezLeGuide, NouvelleLocation, LimmobilierByGiteDeFrance, Footer, ObtenirLeLabel, MaSelection, MonCompte, QuiSommesNous, ContactezNous, MentionLegales, ProtectionDesDonnees, NosPartenaires, DecouvrirLeLot,Newsletters,
    }
}
</script>

<style>

  #app {
    width: 100%;
  }
  #container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
  }

</style>
